[submodule "lib/metricq"]
	path = lib/metricq
	url = git@github.com:metricq/metricq.git
[submodule "lib/nitro"]
	path = lib/nitro
	url = git@github.com:tud-zih-energy/nitro.git
[submodule "lib/hta"]
	path = lib/hta
	url = git@github.com:metricq/hta.git
